* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
}

.first-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.header img {
    width: 180px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
}

.first-section-body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /*margin-bottom: 80px;*/
}

.website-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.website-subtext {
    font-size: 18px;
    margin-bottom: 10px;
    color: #F9FAF8;
}

.first-section-body img {
    height: 250px;
    width: 550px;
    object-fit: contain;
    object-position: center;
}

.second-section {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    background-color: rgb(200, 216, 207);
    padding-bottom: 100px;
}

.second-section-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.second-section-body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.section {
    width: 200px;
}

.text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.second-section button {
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    height: 60px;
    width: 180px;
    margin: auto;
    font-weight: bold;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s
}

.second-section button:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
}

.third-section {
    background-color: rgb(215, 216, 215);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

.third-section-content {
    background-color: rgb(154, 218, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    padding: 40px 100px;
}

.third-section-heading {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}

.third-section-info {
    font-size: 20px;
}

.third-section button {
    background-color: rgb(154, 218, 255);
    color: white;
    border: 1px solid white;
    height: 40px;
    width: 100px;
    margin: auto;
    font-weight: bold;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s
}

.third-section button:active {
    background-color: white;
    color: rgb(154, 218, 255);
    border: 1px solid rgb(154, 218, 255);
    cursor: pointer;
    transition: box-shadow 0.15s
}

.footer {
    background-color: #1F2937;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 50px 0px;
}







